{% extends "_base.html" %}

{%block title%}Login{%endblock%}
{%block css%}
{%endblock%}

{%block content%}
<div class="section">
	<div class="container">
	<div class="row">
		<h1>Change your password</h1>
	</div>
    {% include "_messages.html" %}
	<div>
		<div class="twelve columns">
			<form method="post" action="/login">
                <p><label for="password1">New password:</label> <input class="u-full-width" type="password" id="password1" name="password1"></p>
                <p><label for="password2">Enter it again:</label> <input class="u-full-width" type="password" id="password2" name="password2"></p>
                <p><input class="button-primary" type="submit" value="Submit"></p>
            </form>
		</div>
	</div>
</div>
</div>

{%endblock%}
