{% extends "_base.html" %}

{%block title%}Index!{%endblock%}
{%block css%}
	.column img {
		display: block;
		margin: auto;
	}
{%endblock%}

{%block content%}
<div class="section">
	<div class="container">
	<div class="row">
		<h1>Index</h1>
	</div>
	<div>
		<div class="one-third column">
			Lorem ipsum doler sit amet, and all that.
			<img src="//placehold.it/800x200" class="u-max-full-width class">
		</div>
		<div class="one-third column">
			<img src="//placehold.it/200x200" class="u-max-full-width class">
		</div>
		<div class="one-third column">
			<img src="//placehold.it/200x200" class="u-max-full-width class">
		</div>
	</div>
</div>
</div>

{%endblock%}
