{% extends "_base.html" %}

{%block title%}Index!{%endblock%}
{%block css%}
	.column img {
		display: block;
		margin: auto;
	}
{%endblock%}

{%block content%}
<div class="section">
	<div class="container">
	<div class="row">
		<h1>Index</h1>
	</div>
	{% include "_messages.html" %}
	<div>
		<div class="one-third column">
			Hello {{ user }}
		</div>
		<div class="one-third column">
			{% if logged_in %}
				<a href="/logout">Logout</a>
			{% else %}
				<a href="/login">Login</a>
			{% endif %}
		</div>
		<div class="one-third column">
			{% if user.logged_in %}
				<a href="/change_password">Change password</a>
			{% endif %}
		</div>
	</div>
</div>
</div>

{%endblock%}
